[submodule ".graft/python-starter"]
	path = .graft/python-starter
	url = https://github.com/danielnaab/python-starter.git
[submodule ".graft/meta-knowledge-base"]
	path = .graft/meta-knowledge-base
	url = https://github.com/danielnaab/meta-knowledge-base.git
[submodule ".graft/rust-starter"]
	path = .graft/rust-starter
	url = https://github.com/danielnaab/rust-starter.git
[submodule ".graft/living-specifications"]
	path = .graft/living-specifications
	url = https://github.com/danielnaab/living-specifications.git
